<html>
  <head>
    <title>Mon title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height: 100vh;">
        <h1>File</h1>
        <% if (user){ %>
          <img src=<%= user.avatar %> alt="ton avatar" style="border-radius: 50%;">
        <% } %>
        <form class="d-flex flex-column card w-50" method="post" action="/file" enctype="multipart/form-data">
          <div class="card-body">
            <div class="form-group">
              <input type="file" name="avatar">
            </div>
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>