<div class="flex-fill d-flex flex-column container-chat p-4">
  <ul class="list-messages flex-fill">
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:00</span>
      <strong class="mr-3">Jean-Eude</strong>
      <span class="flex-fill">Je suis un message super interressant sur le sujet.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:07</span>
      <strong class="mr-3">Julien</strong>
      <span class="flex-fill">Je suis un autre message peut etre un peu moins interressant.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:09</span>
      <strong class="mr-3">Christophe</strong>
      <span class="flex-fill">Au fait c'est quoi le sujet de la conversation?.</span>
    </li>
    <li class="item_message d-flex flex-row mb-2">
      <span class="mr-1">12:15</span>
      <strong class="mr-3">Emmanuelle</strong>
      <span class="flex-fill">Je crois que le sujet c'est Vue, tu avais pas Vue!!!.</span>
    </li>
  </ul>
  <div class="d-flex flex-row">
    <input class="form-control flex-fill mr-2" type="text">
    <button class="btn btn-primary btn-md">Submit</button>
  </div>
</div>