<html>
  <head>
    <title>Mon title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- toujours mettre ce link avant son propre js, puisqu il l utilise!-->
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
        <h1>Liste des chapitres</h1>
        <div claa="form-group">
          <input id="search" type="text" class="form-control">
        </div>
        <div class="d-flex flex-row">
          <% if (chapters && chapters.length) { %>
            <% chapters.forEach((chapter) => { %>
              <div class="card mr-4"  style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title"><%= chapter.title %></h4>
                    <p class="card-text">Number of lessons: <%= chapter.nbrOfLesson %></p>
                    <a href="/chapters/delete/<%= chapter._id %>" class="btn btn-danger">Delete</a>
                    <a href="/chapters/<%= chapter._id %>" class="btn btn-primary">Details</a>
                  </div>
              </div>
            <% }) %>
          <% } %>
        </div>
        <div class="mt-4">
          <a href="/chapters/add" class="btn btn-primary">Add Chapter</a>
        </div>
      </div>
    </div>
  </body>
</html>