* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: #dcddde;
}
a:hover {
  color: #dcddde;
  text-decoration: none;
}
body{
  background: #36393f;
  color: #dcddde;
  min-height: 100vh;
}
.container-fluid{
  padding: 0;
}
.logo{
  width: 100px;
}
.container-namespaces{
  background: #2f3136;
  min-width: 220px;
  border-right: 2px solid #36393f;
}
.container-rooms{
  min-width: 220px;
  background: #2f3136;
}
.item-namespace img{
  width: 40px;
  height: 40px;
}
.item-namespace:hover{
  background: #36393f;
  cursor: pointer;
}
.item-namespace.active{
  background: #36393f;
}
.item-room:hover{
  cursor: pointer;
  background: #36393f;
  border-radius: 5px;
}
.item-room.active{
  background: #36393f;
  border-radius: 5px;
}
