<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mon titre</title>
</head>
<body>
  <h1>Index</h1>
  <p>voici mon image:</p>
  <img src="/images/image.jpg" alt="petit oiseau">
</body>
</html>