<div class="container-namespaces pt-2">
  <ul class="list-namespaces">
    <li class="item-namespace p-1 mb-1">
      <img src="/images/angular.png" alt="Angular">
    </li>
    <li class="item-namespace p-1 mb-1">
      <img src="/images/vue.png" alt="Vue">
    </li>
    <li class="item-namespace p-1 mb-1">
      <img src="/images/react.png" alt="React">
    </li>

  </ul>
</div>